extends layout

block content
  h1= "PS4 Jeopardy!"
  p The Category of the Question: #{title}
  p Value: #{value}
  p Question: #{question}
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  p Answer: #{answer}