extends layout

block content
  h1= "PS6 Jeopardy!"
  p Retrieved by #{method}
  p The Category of the Question: #{title}
  p Value: #{value}
  p Question: #{question}
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  p Answer: #{answer}